<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body style="background-color: #001f3d">
   <div class="container-fluid" style="margin-top: 100px">
       <div class="row">
          <div class="col-md-2"></div>
           <div class="col-md-8">
            <div class="card">
                <img src="/IMAGES/atms.jpeg" alt="">
                <div class="card-body">
                      
                 <div class="row">
                     <div class="col-md-3"></div>
                     <div class="col-md-6">
    
                           
                            <div class="form-group">
                              <label for="inputAddress">ACCOUNT NAME</label>
                              <input type="text" class="form-control" id="acn" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">ACCOUNT NUMBER</label>
                                <input type="text" class="form-control" id="acnum" placeholder="XXX XXXX XXX">
                              </div>
                              <div class="form-group">
                                <label for="inputAddress">ACCOUNT BALANCE</label>
                                <input type="text" class="form-control" id="accountBalance" placeholder="XXX XXXX XXX">
                              </div>
                            <div class="form-group">
                              <label for="inputAddress2">CARD PIN</label>
                              <input type="text" class="form-control" id="cardpin" placeholder="XXX">
                            </div>
                          
                            
                            <button type="submit" id="addUser" class="btn btn-primary form-control">ADD USER</button>
                        
                     </div>
                    
                 </div>
                </div>
              </div>
           </div>
           
       </div>
   </div>
   <!-- Button trigger modal -->
 
      <!-- Modal -->
     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
   $('#addUser').on('click',(e)=>{
    e.preventDefault();
    const accountNamee = $('#acn').val()
    const accountNumberr = $('#acnum').val()
    const accountBalancee = $('#accountBalance').val()
    const cardPinn = $('#cardpin').val()
  //  const userArray = []
    const user = {
    accountNumber: accountNumberr,
      pin: cardPinn,
      accountBalance: accountBalancee,
      accountName:accountNamee
    }

    console.log(user)
    const userArray = JSON.parse(localStorage.getItem('customers'))
    userArray.push(user)
    localStorage.setItem('customers', JSON.stringify(userArray));
   })
    </script>   
  </body>
</html>