<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body style="background-color: #001f3d">
   <div class="container-fluid" style="margin-top: 100px">
       <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-8">
            <div class="card">
                    <img src="/IMAGES/atms.jpeg" alt="">
                <div class="card-body">
                      
                 <div class="row">
                     <div class="col-md-3">
                            <img src="/IMAGES/security.jpg" alt=""  style="width:180px; height: 200px">
                            <button id="confirmFinger" class="btn btn-primary form-control">CONFIRM FINGERPRINT</button>
                     </div>
                     <div class="col-md-4">
                        <form>
                           
                            <div class="form-group">
                              <label for="inputAddress">ACCOUNT NUMBER</label>
                              <input type="text" class="form-control" id="acn" placeholder="XXX XXXX XXX">
                            </div>
                            <div class="form-group">
                              <label for="inputAddress2">ATM CARD PIN</label>
                              <input type="text" class="form-control" id="acp" placeholder="XXX">
                            </div>
                          
                            
                            <button type="submit" id="comfirmPin" class="btn btn-primary form-control">CONFIRM</button>
                          </form>
                     </div>
                     <div class="col-md-5">
                        <img src="./IMAGES/deposits.jpg" alt="" style="width:300px; height: 148px">
                        <button type="submit" class="btn btn-primary form-control mt-4" data-toggle="modal" data-target="#exampleModalCenter">DEPOSIT</button>
                     </div>
                 </div>
                </div>
              </div>
           </div>
           <div class="col-md-2"></div>
       </div>
   </div>
   <!-- Button trigger modal -->
 
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">MAKE YOUR DEPOSIT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                            
                             <div class="form-group">
                               <label for="inputAddress">ACCOUNT NUMBER</label>
                               <input type="text" class="form-control" id="inputAddress" placeholder="XXX XXXX XXX">
                             </div>
                             <div class="form-group">
                               <label for="inputAddress2">AMOUNT TO DEPOSIT</label>
                               <input type="text" class="form-control" id="inputAddress2" placeholder="XXXX">
                             </div>
                             <div class="row">
                                <div class="col-2"></div>
                               <div class="col-2 text-center mb-1" style="border: 2px solid gray">
                                 1
                               </div>
                               <div class="col-1">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 2
                               </div>
                               <div class="col-1" >
                                 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">3</div>
                               <div class="col-2"></div>
                             </div>
 
                             <div class="row">
                               <div class="col-2">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 4
                               </div>
                               <div class="col-1">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 5
                               </div>
                               <div class="col-1">
                                 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">6</div>
                               <div class="col-2">
                                   
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-2">
                                     
                                   </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 7
                               </div>
                               <div class="col-1">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 8
                               </div>
                               <div class="col-1">
                                 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">9</div>
                               <div class="col-2">
                                   
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-2">
                                     
                                   </div>
                               <div class="col-2">
                                 
                               </div>
                               <div class="col-1">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 0
                               </div>
                               <div class="col-1">
                                 
                               </div>
                               <div class="col-2"></div>
                             </div>
                             <button type="submit" class="btn btn-primary form-control">DEPOSIT</button>
                           </form>
            </div>
  
          </div>
        </div>
      </div>

       <!--WITHDRAW Modal -->
       <div class="modal fade" id="comfirmPinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">WITHDRAWAL</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 class="text-center pt-4 pb-4 pr-4 pl-4" style="border: 2px solid lightgray">
                10000
              </h4>
                   <div class="row">
                     <div class="col-md-3">
                      <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                        500
                      </h4>
                      <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                        1000
                      </h4>
                      <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                        5000
                      </h4>
                     </div>
                     <div class="col-md-6">
                        <div class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; bakground-color:lightgray">
                            
                            </div>
                          <div class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; bacground-color:lightgray">
                          
                          </div>
                         
                              <div class="row" style="margin-top: 50px">
                                <div class="col-6">
                                    <button class="btn btn-md btn-info">WITHDRAW</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-md btn-danger">CANCEL</button>
                                </div>
                              </div>
                                
                     </div>
                     <div class="col-md-3">
                      <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                        10000
                      </h4>
                      <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                        20000
                      </h4>
                      <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                        OTHERS
                      </h4>
                     </div>
                   </div>
            </div>
          
          </div>
        </div>
      </div>

       <!--VIEW BALANCE Modal -->
       <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">ACCOUNT BALANCE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                            
                             <div class="form-group">
                               <label for="inputAddress">ACCOUNT NUMBER</label>
                               <input type="text" class="form-control" id="inputAddress" placeholder="XXX XXXX XXX">
                             </div>
                            
                           
                             
                             <button type="submit" class="btn btn-primary form-control">CHECK BALANCE</button>
                           </form>
            </div>
          
          </div>
        </div>
      </div>

       <!--CHANGE PASSWORD Modal -->
       <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">MAKE YOUR DEPOSIT</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                            
                             <div class="form-group">
                               <label for="inputAddress">ACCOUNT NUMBER</label>
                               <input type="text" class="form-control" id="inputAddress" placeholder="XXX XXXX XXX">
                             </div>
                             <div class="form-group">
                               <label for="inputAddress2">AMOUNT TO DEPOSIT</label>
                               <input type="text" class="form-control" id="inputAddress2" placeholder="XXXX">
                             </div>
                           
                             
                             <button type="submit" class="btn btn-primary form-control">DEPOSIT</button>
                           </form>
            </div>
          
          </div>
        </div>
      </div>

      
       <!--welcome Modal -->
       <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">MAKE YOUR DEPOSIT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                      <form>
                              
                               <div class="form-group">
                                 <label for="inputAddress">ACCOUNT NUMBER</label>
                                 <input type="text" class="form-control" id="inputAddress" placeholder="XXX XXXX XXX">
                               </div>
                               <div class="form-group">
                                 <label for="inputAddress2">AMOUNT TO DEPOSIT</label>
                                 <input type="text" class="form-control" id="inputAddress2" placeholder="XXXX">
                               </div>
                               <button type="submit" class="btn btn-primary form-control">DEPOSIT</button>
                             </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="fmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    
              </div>
    
            </div>
          </div>
        </div>
      
      <embed name="GoodEnough" src="./IMAGES/welcome.mp3" loop="false" hidden="true" autostart="true">
      <audio id="myAudio">
            <embed name="GoodEnough" src="./IMAGES/welcome.mp3" loop="false" hidden="true" autostart="true">
          </audio>
          
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
    $(window).on('load',()=>{
        var audio = $("#myAudio")[0]; 
        console.log(audio)
      //  audio.load()
      audio.play();
    })

    const customers = [
    {
      accountNumber: 123456,
      pin: 1234,
      accountBalance: 20000000
    },
    {
      accountNumber: 123476,
      pin: 1834,
      accountBalance: 80000000
    },
    {
      accountNumber: 183476,
      pin: 1239,
      accountBalance: 50000000
    }
  ]


    $('#comfirmPin').on('click',(e)=>{
      e.preventDefault();
      var accNumber = $('#acn').val()
      var accPin = $('#acp').val()
      console.log(accNumber, accPin)
      for (var i=0; i<customers.length; i++){
        if (customers[i].accountNumber == accNumber && customers[i].pin == accPin ){
          localStorage.setItem('loggedInUser', JSON.stringify(customers[i]));
          location.href = '/home';
        //  $('#comfirmPinModal').modal()
        }
      }
    })

    $('#confirmFinger').on('click',()=>{
      setInterval(()=>{
        $('#fmodal').modal()
      },15000)
    })
    </script>   
  </body>
</html>