<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body style="background-color: #001f3d">
   <div class="container-fluid" style="margin-top: 100px">
       <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-8">
            <div class="card">
                    <img src="/IMAGES/atms.jpeg" alt="">
                   
                <div class="card-body">
                      
                        <div class="row">
                                <div class="col-6">
                                        <img src="./IMAGES/withdawal.jpg" alt="" style="width:370px; height: 148px">
                                        <button type="submit" class="btn btn-primary form-control mt-4 mb-4" data-toggle="modal" data-target="#comfirmPinModal">WITHDRAW</button>
                                        <img src="./IMAGES/m-transfer.jpeg" alt="" style="width:370px; height: 148px">
                                        <button type="submit" class="btn btn-primary form-control mt-4" data-toggle="modal" data-target="#transfer">TRANSFER</button>
                                </div>
                                <div class="col-6">
                                        <img src="./IMAGES/balance.png" alt="" style="width:370px; height: 148px">
                                        <button type="submit" class="btn btn-primary form-control mt-4 mb-4" data-toggle="modal" data-target="#balance">CHECK BALANCE</button>
                                        <img src="./IMAGES/pin.png" alt="" style="width:370px; height: 148px">
                                        <button type="submit" class="btn btn-primary form-control mt-4" data-toggle="modal" data-target="#pin">CHANGE PIN</button>
            
                                </div>
                            </div>
                </div>
              </div>
           </div>
           <div class="col-md-2"></div>
       </div>
   </div>
   <!-- Button trigger modal -->
 
      <!-- transfer Modal -->
      <div class="modal fade" id="transfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">TRANSFER</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    
                             <div class="form-group">
                               <label for="inputAddress">ACCOUNT NUMBER</label>
                               <input type="text" class="form-control" id="transferaccountnum" placeholder="XXX XXXX XXX">
                             </div>
                             <div class="form-group">
                               <label for="inputAddress2">AMOUNT TO TRANSFER</label>
                               <input type="text" class="form-control" id="transferamount" placeholder="XXXX">
                             </div>

                             <div class="row">
                                <div class="col-2"></div>
                               <div class="col-2 text-center mb-1" style="border: 2px solid gray">
                                 1
                               </div>
                               <div class="col-1">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 2
                               </div>
                               <div class="col-1" >
                                 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">3</div>
                               <div class="col-2"></div>
                             </div>
 
                             <div class="row">
                               <div class="col-2">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 4
                               </div>
                               <div class="col-1">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 5
                               </div>
                               <div class="col-1">
                                 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">6</div>
                               <div class="col-2">
                                   
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-2">
                                     
                                   </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 7
                               </div>
                               <div class="col-1">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 8
                               </div>
                               <div class="col-1">
                                 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">9</div>
                               <div class="col-2">
                                   
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-2">
                                     
                                   </div>
                               <div class="col-2">
                                 
                               </div>
                               <div class="col-1">
 
                               </div>
                               <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                 0
                               </div>
                               <div class="col-1">
                                 
                               </div>
                               <div class="col-2"></div>
                             </div>

                             <button type="button" id="transferbtn" class="btn btn-primary form-control">TRANSFER</button>
                          
            </div>
          
          </div>
        </div>
      </div>

       <!--WITHDRAW Modal -->
       <div class="modal fade" id="comfirmPinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">WITHDRAWAL</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 class="text-center pt-4 pb-4 pr-4 pl-4" id="withdrawalamount" style="border: 2px solid lightgray">
               
              </h4>
                   <div class="row">
                      
                     <div class="col-md-3">
                        <button class="btn btn-sm bg-gray" id="500">
                      <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                            500
                          </h4>
                        </button>
                        
                      
                        <button class="btn btn-sm bg-gray" id="1000">
                            <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                                  1000
                                </h4>
                              </button>
                              <button class="btn btn-sm bg-gray" id="5000">
                                  <h4 class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; background-color:lightgray">
                                        5000
                                      </h4>
                              </button>
                     </div>
                     <div class="col-md-6">
                        <div class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; bakground-color:lightgray">
                            
                            </div>
                          <div class="pt-4 pb-4 pl-4 pr-4" style="height: 70px; width: 100px; bacground-color:lightgray">
                          
                          </div>
                         
                              <div class="row" style="margin-top: 50px">
                                <div class="col-6">
                                    <button class="btn btn-md btn-info" id="withdrawalbtn">WITHDRAW</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-md btn-danger" data-dismiss="modal" aria-label="Close">CANCEL</button>
                                </div>
                              </div>
                                
                     </div>
                     <div class="col-md-3">
                        <button class="btn btn-sm bg-gray" id="10000">
                            <h4 class="pt-4 pb-4 pl-4 pr-3 mr-2" style="height: 70px; width: 100px; background-color:lightgray">
                                  10000
                                </h4>
                        </button>
                        <button class="btn btn-sm bg-gray" id="20000">
                                  <h4 class="pt-4 pb-4 pl-4 pr-3 mr-2" style="height: 70px; width: 100px; background-color:lightgray">
                                        20000
                                      </h4>
                        </button>
                        <button class="btn btn-sm bg-gray" id="others">
                                        <h4 class="pt-4 pb-4 pl-4 pr-3 mr-2" style="height: 70px; width: 100px; background-color:lightgray">
                                              OTHERS
                                            </h4>
                        </button>
                     </div>
                   </div>
            </div>
          
          </div>
        </div>
      </div>

       <!--VIEW BALANCE Modal -->
       <div class="modal fade" id="balance" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">ACCOUNT BALANCE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                      <h6 class="text-center">BALANCE</h6>
                        <h4 class="text-center pt-4 pb-4 pr-4 pl-4" id="bll" style="border: 2px solid lightgray">
                            
                          </h4>
                            
                             <div class="form-group">
                               <label for="inputAddress">ACCOUNT NUMBER</label>
                               <input type="text"  class="form-control" id="balanceaccountnum" placeholder="XXX XXXX XXX">
                             </div>
                            
                             <div class="row">
                               <div class="col-2"></div>
                              <div class="col-2 text-center mb-1" style="border: 2px solid gray">
                                1
                              </div>
                              <div class="col-1">

                              </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                2
                              </div>
                              <div class="col-1" >
                                
                              </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">3</div>
                              <div class="col-2"></div>
                            </div>

                            <div class="row">
                              <div class="col-2">

                              </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                4
                              </div>
                              <div class="col-1">

                              </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                5
                              </div>
                              <div class="col-1">
                                
                              </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">6</div>
                              <div class="col-2">
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    
                                  </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                7
                              </div>
                              <div class="col-1">

                              </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                8
                              </div>
                              <div class="col-1">
                                
                              </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">9</div>
                              <div class="col-2">
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    
                                  </div>
                              <div class="col-2">
                                
                              </div>
                              <div class="col-1">

                              </div>
                              <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                0
                              </div>
                              <div class="col-1">
                                
                              </div>
                              <div class="col-2"></div>
                            </div>
                             
                             <button type="submit" id="balancebtn" class="btn btn-primary form-control">CHECK BALANCE</button>
                           </form>
            </div>
          
          </div>
        </div>
      </div>

       <!--CHANGE PASSWORD Modal -->
       <div class="modal fade" id="pin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pin">CHANGE PIN</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                    <form>
                            
                             <div class="form-group">
                               <label for="inputAddress">OLD PIN</label>
                               <input type="text" class="form-control" id="oldpin" placeholder="XXX XXXX XXX">
                             </div>
                             <div class="form-group">
                               <label for="inputAddress2">NEW PIN</label>
                               <input type="text" class="form-control" id="newpin" placeholder="XXXX">
                             </div>
                             <div class="form-group">
                                <label for="inputAddress2">CONFIRM NEW PIN</label>
                                <input type="text" class="form-control" id="confirmnewpin" placeholder="XXXX">
                              </div>

                              <div class="row">
                                  <div class="col-2"></div>
                                 <div class="col-2 text-center mb-1" style="border: 2px solid gray">
                                   1
                                 </div>
                                 <div class="col-1">
   
                                 </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                   2
                                 </div>
                                 <div class="col-1" >
                                   
                                 </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">3</div>
                                 <div class="col-2"></div>
                               </div>
   
                               <div class="row">
                                 <div class="col-2">
   
                                 </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                   4
                                 </div>
                                 <div class="col-1">
   
                                 </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                   5
                                 </div>
                                 <div class="col-1">
                                   
                                 </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">6</div>
                                 <div class="col-2">
                                     
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-2">
                                       
                                     </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                   7
                                 </div>
                                 <div class="col-1">
   
                                 </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                   8
                                 </div>
                                 <div class="col-1">
                                   
                                 </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">9</div>
                                 <div class="col-2">
                                     
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-2">
                                       
                                     </div>
                                 <div class="col-2">
                                   
                                 </div>
                                 <div class="col-1">
   
                                 </div>
                                 <div class="col-2  text-center mb-1" style="border: 2px solid gray">
                                   0
                                 </div>
                                 <div class="col-1">
                                   
                                 </div>
                                 <div class="col-2"></div>
                               </div>

                             <button type="submit" id="pinbtn" class="btn btn-primary form-control">CHANGE PIN</button>
                           </form>
            </div>
          
          </div>
        </div>
      </div>

      
       
      <embed name="GoodEnough" src="./IMAGES/welcome.mp3" loop="false" hidden="true" autostart="true">
      <audio id="myAudio">
            <embed name="GoodEnough" src="./IMAGES/welcome.mp3" loop="false" hidden="true" autostart="true">
        
          </audio>
          
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
    $(window).on('load',()=>{
        // var audio = $("#myAudio")[0]; 
        // console.log(audio)
      //  audio.load()
    //  audio.play();
    var customer = localStorage.getItem('customers');
    console.log(typeof customer)
    const ccc = JSON.parse(localStorage.getItem('customers'));
    console.log(ccc);
    for (var i = 0; i<ccc.length; i++){
      console.log(typeof ccc[i].accountNumber, typeof ccc[i].pin);
    }
    })

   

    const customers = [
      {
        accountNumber: 123456,
        pin: 1234,
        accountBalance: 20000000
      },
      {
        accountNumber: 123476,
        pin: 1834,
        accountBalance: 80000000
      },
      {
        accountNumber: 183476,
        pin: 1239,
        accountBalance: 50000000
      }
    ]

    $('#comfirmPin').on('click',(e)=>{
      e.preventDefault();
      var accNumber = $('#acn').val()
      var accPin = $('#acp').val()
      console.log(accNumber, accPin)
      for (var i=0; i<customers.length; i++){
        if (customers[i].accountNumber == accNumber && customers[i].pin == accPin ){
          $('#comfirmPinModal').modal()
        }
      }
    })

    // $('#').on('click',(e)=>{
    //   e.preventDefault();
    // })

    // operations section
    $('#transferbtn').on('click',(e)=>{
      e.preventDefault();
      const amount = $('#transferamount').val();
      const accountNumber = $('#transferaccountnum').val();
      var customer = localStorage.getItem('customers');
    const pcustomer = JSON.parse(localStorage.getItem('customers'));
    const loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'))

     var balanceResult = pcustomer.find(item => parseInt(item.accountNumber) == parseInt(accountNumber));
    
      if (parseInt(balanceResult.accountNumber) != NaN && parseInt(balanceResult.accountNumber) != null && parseInt(balanceResult.accountNumber) != undefined) {
        if (loggedInUser.accountBalance>= parseInt(amount)){
          balanceResult.accountBalance = JSON.stringify(parseInt(balanceResult.accountBalance) + parseInt(amount));
        var result = pcustomer.find(item => loggedInUser.accountBalance);
        result.accountBalance = JSON.stringify(parseInt(result.accountBalance) - parseInt(amount))
        console.log('these are new customers ', pcustomer);
        
        loggedInUser.accountBalance = result.accountBalance;
        localStorage.setItem('customers', JSON.stringify(pcustomer))
        localStorage.setItem('loggedInUser', JSON.stringify(loggedInUser))
        alert('Transfer Successful')
        }
        else {
          alert('Insufficient Balance') 
        }
      }
      else {
        alert('User not found') 
        
      }

    })

    $('#500').on('click',(e)=>{
      const amount1 = $('#500').text();
      $('#withdrawalamount').text(amount1);
      })

      $('#1000').on('click',(e)=>{
      const amount2 = $('#1000').text();
      $('#withdrawalamount').text(amount2);
      })

      $('#5000').on('click',(e)=>{
      const amount3 = $('#5000').text();
      $('#withdrawalamount').text(amount3);
      })

      $('#10000').on('click',(e)=>{
      const amount4 = $('#10000').text();
      $('#withdrawalamount').text(amount4);
      })

      $('#20000').on('click',(e)=>{
      const amount5 = $('#20000').text();
      $('#withdrawalamount').text(amount5);
      })

    

    $('#withdrawalbtn').on('click',(e)=>{
      e.preventDefault();
      // const amount1 = $('#500').text();
      // const amount2 = $('#1000').text();
      // const amount3 = $('#5000').text();
      // const amount4 = $('#10000').text();
      // const amount5 = $('#20000').text();
      // console.log(amount)

      const amount = parseInt($('#withdrawalamount').text())
    const pcustomer = JSON.parse(localStorage.getItem('customers'));
    const loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'))
    var balanceResult = pcustomer.find(item => loggedInUser.accountBalance);
    
        if (loggedInUser.accountBalance>= parseInt(amount)){
          balanceResult.accountBalance = JSON.stringify(parseInt(balanceResult.accountBalance) - parseInt(amount));
        var result = pcustomer.find(item => loggedInUser.accountBalance);
        loggedInUser.accountBalance = parseInt(balanceResult.accountBalance);
        localStorage.setItem('customers', JSON.stringify(pcustomer))
          localStorage.setItem('loggedInUser', JSON.stringify(loggedInUser));
          alert('Withdrawal Successfull');
        }
        else {
          alert('Insufficient Balance');
        }
    })

    $('#pinbtn').on('click',(e)=>{
      e.preventDefault();
      const pcustomer = JSON.parse(localStorage.getItem('customers'));
      const loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'))
      var balanceResult = pcustomer.find(item => loggedInUser.accountBalance);

    
      var result = pcustomer.find(item => loggedInUser.pin);
      
      var oldPin = $('#oldpin').val()
      var newPin = $('#newpin').val()
      var cpin = $('#confirmnewpin').val()

      if (result.pin == oldPin){
        if (cpin == newPin){

        balanceResult.pin = newPin;
        loggedInUser.pin = parseInt(newPin);
        localStorage.setItem('customers', JSON.stringify(pcustomer))
          localStorage.setItem('loggedInUser', JSON.stringify(loggedInUser));
          alert('Pin Sucessfully Changed')
        }
        else {
          alert('Incorrect confirm pin')
        }
      }
      else
      {
        alert('Incorrect Pin')
      }
    })

    $('#balancebtn').on('click',(e)=>{
      e.preventDefault();
      const loggedInUser = JSON.parse(localStorage.getItem('loggedInUser'))
      const balance = loggedInUser.accountBalance;
      $('#bll').text(balance)
    })

    </script>   
  </body>
</html>